@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
}

.c-white {
  color: #FFFFFF;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 60px;
    line-height: 90px;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 38px;
    line-height: 57px;
  }
}

h3 {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 24px;
    line-height: 36px;
  }
}

h4 {
  font-size: 18px;
  line-height: 27px;
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.5;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

header {
  position: absolute;
  top: 25px;
  left: 20px;
  right: 20px;
  row-gap: 17px;
  column-gap: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  header {
    left: 120px;
    right: 120px;
  }
}
header .banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
}
header .banner .icon {
  background-image: url("../images/logo.svg");
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
}
header .banner h5 {
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
header .header {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  row-gap: 18px;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  header .header {
    flex-direction: row;
  }
}
header .header .header-options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 24px;
}
@media screen and (min-width: 1200px) {
  header .header .header-options {
    flex-direction: row;
    align-items: center;
  }
}
header .header .header-options .header-option {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
header .header input {
  background-color: #3c3b3d;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  header .header input {
    width: 248px;
  }
}
header .header input::placeholder {
  color: #757575;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  line-height: 15.29px;
}

.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.page-description .content {
  padding-top: 248px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
  .page-description .content {
    padding: 0;
    margin-top: 200px;
  }
}
.page-description .content h1 {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
.page-description .content h2 {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}
.page-description .content p {
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .page-description .content p {
    margin-top: 31px;
    margin-bottom: 17px;
  }
}
.page-description .content form {
  max-width: 570px;
}
.page-description .content form .input-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.page-description .content form .input-container input {
  min-width: 270px;
  min-height: 50px;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 14px;
  background-color: transparent;
  border-radius: 3px;
}
@media screen and (min-width: 1200px) {
  .page-description .content form .input-container input {
    width: auto;
  }
}
.page-description .content form .input-container input::placeholder {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.page-description .content form button {
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #34c176;
  width: 100%;
  height: 57px;
  text-align: center;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13.3px;
  line-height: 15.29px;
  border: none;
}

.page-pricing {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
  .page-pricing {
    width: 1200px;
  }
}
.page-pricing h2 {
  text-align: center;
  margin-bottom: 47px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .page-pricing h2 {
    margin-bottom: 45px;
  }
}
.page-pricing p {
  text-align: center;
}
.page-pricing .page-pricing-footer {
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 0;
}
.page-pricing .pricings {
  display: flex;
  column-gap: 47px;
  row-gap: 50px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .page-pricing .pricings {
    flex-direction: row;
  }
}
.page-pricing .pricings .pricing-item {
  flex: 1 1 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}
.page-pricing .pricings .pricing-item.bg-sub-1 {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}
.page-pricing .pricings .pricing-item.bg-sub-2 {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}
.page-pricing .pricings .pricing-item.bg-sub-3 {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}
.page-pricing .pricings .pricing-item h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.page-pricing .pricings .pricing-item .pricing-value {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 200px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  vertical-align: top;
}
.page-pricing .pricings .pricing-item .pricing-value .number {
  font-size: 64px;
  line-height: 64px;
}
.page-pricing .pricings .pricing-item .pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 12.8px;
  line-height: 19.2px;
  color: #FFFFFF;
}
.page-pricing .pricings .pricing-item a {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  height: 66px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.page-news {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}
@media screen and (min-width: 1200px) {
  .page-news {
    width: 1200px;
  }
}
.page-news h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 0;
}
.page-news h3 {
  font-weight: normal;
  color: #FFFFFF;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .page-news h3 {
    font-size: 30px;
    line-height: 45px;
  }
}
.page-news .news-footer {
  margin-top: 24px;
}
.page-news .news {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}
.page-news .news-item {
  display: flex;
  column-gap: 50px;
  row-gap: 50px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .page-news .news-item {
    flex-direction: row;
  }
  .page-news .news-item.ordinary {
    flex-direction: row-reverse;
  }
}
.page-news .news-author {
  display: flex;
  column-gap: 16px;
  margin-bottom: 48px;
}
.page-news .news-author h5 {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  color: #f89202;
}
.page-news .news-author p {
  margin: 0;
  font-size: 12px;
}
.page-news .news-author .icon {
  background-image: url("../images/avatar.png");
  background-position: center;
  background-size: cover;
  width: 19px;
  height: 19px;
}
.page-news a {
  display: block;
  padding: 16px 30px;
  width: 135px;
  height: 53px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  color: #FFFFFF;
  text-align: center;
  background-color: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}

.page-app {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
  .page-app {
    width: 1200px;
  }
}
.page-app h2 {
  margin-bottom: 48px;
  margin-top: 0;
  color: #FFFFFF;
  text-align: center;
}
.page-app .app-content {
  display: flex;
  column-gap: 144px;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .page-app .app-content {
    flex-direction: row;
    align-items: flex-start;
  }
}
.page-app img {
  width: 333px;
  height: 278px;
}
.page-app .app-body {
  row-gap: 16px;
  order: 1;
}
@media screen and (min-width: 1200px) {
  .page-app .app-body {
    order: 0;
    max-width: 600px;
  }
}
.page-app .app-body p {
  margin-bottom: 16px;
}
.page-app .app-body a {
  display: inline-block;
  border-radius: 32px;
  font-size: 12.8px;
  padding: 16px 40px;
  text-decoration: none;
  background: #95390c;
  color: #FFFFFF;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, max-content);
  grid-template-areas: "about" "support" "contacts" "subscribe" "footer";
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
  footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "about support contacts subscribe" "footer footer footer footer";
    padding-left: 120px;
    padding-right: 120px;
  }
}
footer .rem-3-padding {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
footer h2 {
  font-size: 18px;
  line-height: 27px;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
}
footer .about {
  grid-area: about;
}
footer .support {
  grid-area: support;
}
footer .contacts {
  grid-area: contacts;
}
footer .subscribe {
  grid-area: subscribe;
}
footer .footer {
  position: relative;
  grid-area: footer;
  display: flex;
  column-gap: 16px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  footer .footer {
    flex-direction: row;
  }
}
footer .socials {
  display: flex;
  column-gap: 24px;
}
footer .socials .gmail {
  display: block;
  background-image: url("../images/Google+.png");
  background-position: center;
  background-size: cover;
  width: 26px;
  height: 17px;
}
footer .socials .twitter {
  display: block;
  background-image: url("../images/Twitter.png");
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 19px;
}
footer hr {
  margin: 0;
  position: absolute;
  left: -20px;
  right: -20px;
  top: 3rem;
}
@media screen and (min-width: 1200px) {
  footer hr {
    left: -120px;
    right: -120px;
  }
}

.artist-page-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 20px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .artist-page-description {
    padding-left: 120px;
  }
}
.artist-page-description h1 {
  margin-bottom: 16px;
}
.artist-page-description .buttons {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .artist-page-description .buttons {
    flex-direction: row;
  }
}
.artist-page-description .buttons a {
  display: flex;
  padding: 20px 30px;
  width: 200px;
  box-sizing: border-box;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
  column-gap: 16px;
}
.artist-page-description .buttons a p {
  margin: 0;
  font-size: 12.8px;
}
.artist-page-description .buttons a.mix {
  background: #5328a1;
}
.artist-page-description .buttons a.mix .play-logo {
  background-image: url("../images/play-button.svg");
  background-position: center;
  background-size: cover;
  width: 20px;
  filter: invert(1);
}
.artist-page-description .buttons a.favorite {
  background: #95390c;
}
.artist-page-description .buttons a.favorite .heart-logo {
  background-image: url("../images/heart.svg");
  background-position: center;
  background-size: cover;
  width: 20px;
  filter: invert(1);
}

.page-popular-track {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
  .page-popular-track {
    padding-left: 120px;
    padding-right: 169px;
  }
}
.page-popular-track .tracks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, max-content);
  column-gap: 50px;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .page-popular-track .tracks {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
  }
}
.page-popular-track .tracks .popular-track {
  display: flex;
  column-gap: 15px;
}
.page-popular-track .tracks .popular-track .track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-popular-track .tracks .popular-track img {
  width: 55px;
  height: 55px;
}
.page-popular-track .tracks .popular-track h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
  margin: 0;
}
.page-popular-track .tracks .popular-track p {
  font-size: 12.8px;
  line-height: 19.2px;
  margin: 0;
}
.page-popular-track .tracks .popular-track .track-meta {
  display: flex;
  justify-content: space-between;
}

.page-discography {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1200px) {
  .page-discography {
    padding-left: 120px;
    padding-right: 170px;
  }
}
.page-discography .discography-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(0, max-content));
  column-gap: 50px;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .page-discography .discography-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(0, max-content));
  }
}
.page-discography .discography-list .discography-item img {
  width: 137px;
  height: 137px;
}
@media screen and (min-width: 1200px) {
  .page-discography .discography-list .discography-item img {
    width: 250px;
    height: 250px;
  }
}
.page-discography .discography-list .discography-item h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin: 0;
}
.page-discography .discography-list .discography-item p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.page-similar {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}
@media screen and (min-width: 1200px) {
  .page-similar {
    padding-left: 120px;
    padding-right: 170px;
  }
}
.page-similar .similar-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(0, max-content));
  column-gap: 50px;
  row-gap: 25px;
}
@media screen and (min-width: 1200px) {
  .page-similar .similar-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(0, max-content));
  }
}
.page-similar .similar-list .similar-item img {
  width: 137px;
  height: 137px;
}
@media screen and (min-width: 1200px) {
  .page-similar .similar-list .similar-item img {
    width: 250px;
    height: 250px;
  }
}
.page-similar .similar-list .similar-item h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.page-similar .similar-list .similar-item p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
